<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container footer-content">
    <a href="https://github.com/gchumillas"><i class="fa fa-github"></i> github.com/gchumillas</a>
    <a href="https://www.linkedin.com/in/gonzalo-chumillas-5303b5163/"><i class="fa fa-linkedin"></i> linkedin.com/gonzalo-chumillas</a>
    <a href="https://twitter.com/Cequiel"><i class="fa fa-twitter"></i> twitter.com/Cequiel</a><br>
    <a href="mailto:gonzalo.chumillas@gmail.com"><i class="fa fa-envelope"></i> gonzalo.chumillas@gmail.com</a>
    <a><i class="fa fa-phone"></i> 685.560.117</a>
  </div>
</nav>
